p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 20px;
    border-bottom: 1px solid #000
}

.text-indent {
    padding-left: 20px;
  }

  .bottom-image-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
}

/* Стили для изображения */
.bottom-image {
    max-width: 64%; /* Масштабирует изображение по ширине экрана */
}